{% extends 'base.html' %}


{% block content %}

<script>
{% block jquery %}
function changetext(){

var defaultData = []
var labels = [];
var target = $("#select_response").val();
console.log("target",target)
var endpoint = "/chart/{{url.id}}/?target="+target;

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        setChart();
        console.log("defaultData",defaultData)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})


function setChart()
{


    var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("myChart2");
    var myChart = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Estimation',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 3
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});


}
// var ctx = document.getElementById("myChart");
}


{% endblock %}
</script>
<select id="select_response" onchange="changetext();">
  <option value="-1"Select></option>
  <option value="min_response_time">Min</option>
  <option value="max_response_time">Max</option>
  <option value="mean_response_time">Mean</option>
  <option value="median_response_time">Median</option>
  </select>

<div class='row'>
    <div class='col-sm-12' url-endpoint=''>

        <div class='col-sm-6'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>


    </div>
</div>

{% endblock content %}
