<!doctype html>
<html>
  <body>
  <div class="container">
    {% if urls%}

  <ol>
      {%for url in urls%}

      <li class="url_li">
          <a class="url_list" href="{% url 'url_detail' url.id %}">{{url.url}}</a>
          {%endfor%}

      </li>
  </ol>
  {%endif%}

  </div>
  </body>
</html>