<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    function response_data(){
       alert("ybhnj")
       var getval=$("#select_response").val();

       var user_data={"name":getval};
       alert("userdata",user_data)
        $.ajax({
          url: '/filter_response',
            type: 'POST',
             headers: { "X-CSRFToken": '{{csrf_token}}' },
            contentType: 'application/json',

            data: JSON.stringify(user_data),
            dataType: 'json',
                    success:function(response){
                      console.log(response)
                      var data=JSON.parse(response)


                    }
        });
    }

    </script>
</head>
<style>
.button {
    display: inline-block;
    padding: 7px 28px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    background-color: #30403ffa;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    / box-shadow: 0 9px #999; /
}

.form-div {
    margin: 15px 0px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    width: 100%;
    font-size: 15px;
}

input.form-input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 7px 10px;
}

.response_form{
  background: #ddd;
    width: 500px;
    margin: 0px auto;
    padding: 20px;
}

.button1 {
  background-color: #30403f8c;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
}
</style>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}

.add_btn{
  border-radius: 20px;
    height: 40px;
    width: 40px;
}
.btn_div {
  padding: 20px 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.btn_addurl {
    padding: 6px 24px;
    border: 1px solid #ddd;
    background: #30403ffa;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
}

.url_content{
  background: url(https://thinksem.com/wp-content/uploads/2014/03/parallax-and-infinite-scroll.jpg);
    padding: 0px;
    margin: 0px;
    background-size: cover;
    height: 100%;
}
</style>

<body>

<div class="url_content">
  <div class="btn_div">
      <form action="{% url 'display_testing' %}" method="GET">
        <button class="button">Track</button>
      </form>


      <form action="{% url 'start_test' %}" method="GET">
        <button class="button">Start-Test</button>
      </form>
  </div>



<form action="url/" method="POST" class="response_form">
{% csrf_token %}
<h2 style="text-align: center;  margin: 0px;
    padding: 0px;">Add URLs</h2>
<div class="form-div">
    <label class="form-label">URL</label>
    <input type="text" name="url" class="form-input" />

</div>

  <div class="form-div">
    <label class="form-label">HitFrequency</label>
     <input type="text" class="form-input" name="hit_frequency"/>
  </div>

  <div class="form-div">
     <label class="form-label">HitStrength</label>
     <input type="text" name="hit_strength" class="form-input" />
   </div>
<input type="submit" value="Add" class="btn_addurl" />
</form>



  <div class="modal fade" id="addurl_Modal" role="dialog">
    <div class="modal-dialog">


      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Urls</h4>
        </div>
        <div class="modal-body">
          <label>Add Url</label>
          <input type="text" id="url_name" class="form-control" name="">
        </div>
        <div class="modal-footer">
          <form action="url/" method="POST">{% csrf_token %}
          <button type="button" class="btn btn-default" id="save_url" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </form>
        </div>
      </div>

    </div>
  </div>

</div>
</body>
</html>

